.box {
    height: 75px;
    width: 75px;
    background-color: lightblue;
    border-radius: 0.2rem;
    transition: transform 0.2s ease-in-out;
}

.container {
	background-color: yellow;
	width: 25%;
	border-radius: 0.3rem;
	display: grid;
	gap: 1.2rem;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0.2rem 0.2rem;
}

@keyframes wobble {
    0%, 100% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
    25% {
      transform: translateX(-3px) translateY(-3px) rotate(-1deg);
    }
    50% {
      transform: translateX(3px) translateY(3px) rotate(1deg);
    }
    75% {
      transform: translateX(-3px) translateY(-3px) rotate(-1deg);
    }
}

.box:hover {
    animation: wobble 0.5s ease-in-out infinite alternate;
}
