@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
	font-family: "Inter", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #f4f4f5;
}

.content {
    display: flex;
    align-items: center;
}

.content img {
	width: 100px;
	height: 100px;
}

.card-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card-container .content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-container .content h4 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #71717a;
    margin-right: 10px;
	margin-bottom: 5px;
}

.card-container .content p {
    color: #71717a;
    margin: 0;
	margin-top: 0px;
}

.collaborators img {
    margin-right: 5px;
	margin-left: -20px;
}

.final-line {
	margin-right: 20px;
}
